<ion-header>

  <ion-navbar color="taxi">
    <ion-title text-center>Ajustes</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="activarPrincipal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
