<ion-header>

  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="assets/imgs/logoslim.svg">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>

</ion-header>

<ion-content class="login-content no-scroll" padding style="background-image: url('assets/imgs/loginbgsm.png');">
  <ion-row class="logo-row">
    <ion-col>
      <img src="assets/imgs/logo_slim.png"/>
    </ion-col>
  </ion-row>
  <div class="login-box">
    <form #registerForm="ngForm">
      <ion-row>
        <ion-col>

          <ion-item>
            <ion-label color="primary" floating>Email</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="user.email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" floating>Contraseña</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button color="taxi" class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid" (click)="login()">Iniciar</button>
          <!--<button (click)="doGoogleLogin()" ion-button icon-start color="danger" block >-->
          <!--<ion-icon name="logo-google"></ion-icon>-->
          <!--Google +-->
          <!--</button>-->
          <!--<button ion-button color="background" full (click)="createAccount()">Regístrate gratis</button>-->
          <button ion-button class="reset-btn" block clear (click)="resetPassword()">¿Olvidaste la contraseña?</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
