<ion-tabs color="taxi" [selectedIndex]="2">
  <ion-tab tabIcon="rewind" tabTitle="Pendientes" tabBadge="2" tabBadgeStyle="danger" [root]="pendientesPage"></ion-tab>
  <ion-tab tabIcon="fastforward" tabTitle="Programados" tabBadge="2" tabBadgeStyle="danger" [root]="programadosPage"></ion-tab>
  <ion-tab tabIcon="apps" tabTitle="Principal" [root]="homePage"></ion-tab>
  <ion-tab tabIcon="time" tabTitle="Mis servicios" [root]="misServiciosPage"></ion-tab>
  <!--<ion-tab tabIcon="filing" tabTitle="Historial" [root]="historialPage"></ion-tab>-->
  <!--<ion-tab tabIcon="settings" tabTitle="Ajustes" [root]="historialPage"></ion-tab>-->
</ion-tabs>`