<ion-header>

  <ion-navbar text-center color="taxi">
    <ion-buttons left>
      <button ion-button icon-only (click)="mostrarMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Servicios programados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item *ngFor="let servicio of servicios; let i = index" (click)="aceptarCarrera(servicio, i)">
    <ion-icon name="fastforward" item-start></ion-icon>
    <ion-icon *ngIf="servicio.bookingOptions.payment === paymentCash" color="taxi" name="cash" item-end></ion-icon>
    <ion-icon *ngIf="servicio.bookingOptions.payment === paymentCard" color="taxi" name="card" item-end></ion-icon>
    <h2>{{ servicio.origin.address }}</h2>
    <h2>{{ _convertirFechaString.formateoHoraRecogida(servicio) }}</h2>
  </ion-item>
</ion-content>
