<ion-header>

  <ion-navbar text-center color="taxi">
    <ion-buttons left>
      <button ion-button icon-only (click)="mostrarMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Mis servicios</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div #map id="map"></div>

</ion-content>

<ion-footer>
  <ion-scroll scrollY="true">
      <ion-item *ngFor="let servicio of servicios; let i = index">
        <ion-icon *ngIf="serviciosPasados(servicio)" name="alert" color="danger" item-start></ion-icon>
        <ion-icon *ngIf="!serviciosPasados(servicio)" name="time" item-start></ion-icon>
        <ion-icon *ngIf="servicio.bookingOptions.payment === paymentCash" color="taxi" name="cash" item-end></ion-icon>
        <ion-icon *ngIf="servicio.bookingOptions.payment === paymentCard" color="taxi" name="card" item-end></ion-icon>
        <h2>{{ servicio.origin.address }}</h2>
        <h2>{{ _convertirFechaString.formateoHoraRecogida(servicio)}}</h2>
        <p ion-text *ngIf="serviciosPasados(servicio)" color="danger">Llegas tarde a este servicio</p>
      </ion-item>
  </ion-scroll>
</ion-footer>

