page-mis-servicios {
  #map {
    height: 60vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute!important;
    overflow: hidden!important;
  }
  ion-scroll[scrollY]{
    height: 40vh;
    white-space: nowrap;
    overflow: hidden;
  }
}
