<ion-header>

  <ion-navbar padding-top text-center color="taxi">

    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <ion-buttons left>
            <button ion-button icon-only (click)="mostrarMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-11 text-center>
          <h1 right>{{ _driverInfo.driver.name }} {{ _driverInfo.driver.lastname }}</h1>
          <h4>ID : 41785FGF</h4>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="_driverInfo.driver.status == allEstados[2] || _driverInfo.driver.status == allEstados[3]" justify-content-center align-items-center>
        <ion-col>
          <button ion-button large color="secondary" (click)="cambiarEstado()">
            <ion-icon name="notifications" margin-right></ion-icon>
            Libre
          </button>
        </ion-col>
        <ion-col>
          <button ion-button default round color="{{ descansoColor }}" (click)="cambiarDescanso()">
            {{ descansoString }}
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="_driverInfo.driver.status == allEstados[1]">
        <ion-col>
          <button ion-button large color="danger" (click)="cambiarEstado()">
            <ion-icon name="notifications-off" margin-right></ion-icon>
            Ocupado
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>

<ion-content text-center>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Estira para actualizar..."
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <h4>Servicios pendientes</h4>

  <ion-list text-center>
    <ion-item *ngFor="let servicio of servicios; let i = index" (click)="aceptarCarrera(servicio, i)">
      <ion-icon name="locate" item-start></ion-icon>
      <ion-icon *ngIf="servicio.bookingOptions.payment === paymentCash" color="taxi" name="cash" item-end></ion-icon>
      <ion-icon *ngIf="servicio.bookingOptions.payment === paymentCard" color="taxi" name="card" item-end></ion-icon>
      <h2>{{ servicio.origin.address }}</h2>
      <h2>{{ _convertirFechaString.formateoHoraRecogida(servicio)}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
