<ion-header>

  <ion-navbar text-center color="taxi" hideBackButton="true">
    <ion-title>Detalle servicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div #map id="map">
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar padding style="min-height: 56px">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-avatar>
            <img src="assets/imgs/woman_picture.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <ion-row>
            <h5 no-margin>{{ servicio.user.name}}</h5>
          </ion-row>
          <ion-row>
            Origen: {{ servicio.origin.address }}
          </ion-row>
          <ion-row *ngIf="servicio.destination.address">
            Destino: {{ servicio.destination.address }}
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button medium text-center color="taxi" block *ngIf="!enCarrera" (click)="inicioCarrera()">
            <ion-icon name="person" margin-right="5px"></ion-icon>
            RECOGER
          </button>
          <button ion-button medium text-center color="taxi" block *ngIf="enCarrera" (click)="finalizarCarrera()">
            LLEGADA
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!enCarrera">
        <ion-col col-4>
          <button ion-button text-center color="secondary" (click)="llamarCliente()">
            Llamar
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button text-center text-wrap color="background" [disabled]="ondoorbutton" (click)="estoyAqui()">
            Estoy aquí
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button text-center color="danger" [disabled]="leavingbutton" (click)="meVoy()">
            Me voy
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
