page-detalle-servicio {
  #map {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute!important;
    overflow: hidden!important;
  }

  ion-avatar img{
    border-radius: 100%;
    width:100%;
    margin: 5% auto;
  }

  ion-footer{
    height: 40%;
  }

  ion-toolbar{
    height: 100%;
  }

}
