<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="taxi">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item (click)="openPage(historial)">
                Historial
            </ion-item>
            <ion-item ion-item (click)="openPage(ajustes)">
                Ajustes
            </ion-item>
            <ion-buttons text-center margin-top>
                <button ion-button round default color="disabled" end (click)="logout()">
                    <ion-icon name="power" margin-right></ion-icon>
                    Desconectar
                </button>
            </ion-buttons>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
