<ion-header>

  <ion-navbar color="taxi">
    <ion-title text-center>Historial</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="activarPrincipal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <p>HOY</p>
          <h1>8</h1>
          <p>servicios</p>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <p>ESTA SEMANA</p>
          <h1>8</h1>
          <p>servicios</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <p>SEMANA PASADA</p>
          <h1>8</h1>
          <p>servicios</p>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <p>ESTE MES</p>
          <h1>8</h1>
          <p>servicios</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
